div {
    display: block;
}

.site-footer,
.image-box-wrap {
    padding-top: 50px;
    min-height: 200px;
    position: relative;
    background: #3f4448;
    padding-top: 70px;
    font-size: 14px;
    color: #aaa;
    line-height: 24px;
    width: 100%;
}

.section-1 {
    padding: 0 0 30px;
    background: #3f4448;

}

.foot_con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer h3,
.site-footer h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-family: Marcellus SC, serif;
    color: #fff;
}

.site-footer h2 {
    font-size: 26px;
}

/* h3 {
    font-size: 1.875rem;
} */

.site-footer .heading-title {
    margin-bottom: 40px;
}

.section-2,
h6 {
    color: #cabe9f;
    letter-spacing: 2.4px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 12px;

}

.text-center {
    text-align: center !important;
}

/* .container {
    background: #3f4448;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */


.rowf {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-uppercase {
    margin-right: 30%;
    margin-left: 30%
}


.icon-list {
    margin-bottom: 30px;
}

.footer-address .icon-list-icon,
.footer-address .icon-list-text {
    width: 100%;
}

/* form {
    display: block;
    margin-top: 0em;
} */

.form-group {
    margin-bottom: 1rem;
}

.section-3 {
    padding: 15px;
}

.copyright {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
}