/* PostYourProperty Content Starts here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,300;1,400;1,500;1,700;1,900&family=Supermercado+One&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* form css starts here */

.initial-container {
    /* height: 80vh; */
    width: 50vw;
    background: linear-gradient(-45deg, #e6ecc7, #df895e, #af9cf0, #27a7da);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: auto;
    /* margin-top: 10vh; */
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.form_element_box {
    margin: 2px 0px;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lexend Peta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* background: linear-gradient(-45deg, #000000, #4f2d2d, #040404, #3c355a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    border: 3px solid black;
    border-radius: 2px;
    color: rgb(0, 0, 0);
}
.form-control.textbox{
    width:100%;
}
.form-select.selectbox.textbox{
    width:100%;
}
.italic_font {
    font-family: 'Barlow', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Lexend Peta', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Square Peg', cursive;
font-size: 25px;
}
.small_font {
    font-size: 12px;
}
.textbox {
    padding: 4px;
    background: linear-gradient(-45deg, #e4eeb2, #efb79f, #cfc4f2, #aeddef);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #000000;
    font-size: 15px;
    width: 49vw;

}
.transparent_bg {
    margin: 2px 0px;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lexend Peta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid black;
    border-radius: 2px;
    color: rgb(0, 0, 0);
}
.radio_color{
    background: linear-gradient(-45deg, #e4eeb2, #efb79f, #cfc4f2, #aeddef);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.form-body {
    background: linear-gradient(-45deg, #f1f2eb, #eb8888, #2394d5, #e46fe1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@media screen and (max-width:480px){
    .description{
       text-align: center;
        padding: 30px;
        font-size: 20px; 
        margin: auto;
    }
    .search_container{
        display: none;
    }
    .search_header{
        height: 40vh;
    }
    .searchresponsive{
        display: block;
        width: 100%;
       padding: 8px;
    }
    .search{
        margin-right: 5px;
        border: 1px solid #F6F6F6;
        border-radius: 2px;
    }
}

@media screen and (max-width:800px){
   .search_container{
       display: none;
   }
   .search_header{
       height: 40vh;
   }
   .searchresponsive{
       display: block;
       width: 100%;
      padding: 8px;
   }
   .search{
       margin-right: 5px;
       border: 1px solid #F6F6F6;
       border-radius: 2px;
   }

}
.form-container{
    background-color:#ffffff ;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 10px;
    border-radius: 30px  30px ;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.form-section-container{
    margin: 20px;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10px;
    /* box-shadow:5px 5px 5px #969090; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.textbox {
    width: 30vw;
    background-color: #ffffff;
    color: #000000;
   
}

.selectbox {
    width: 30vw; 
}


/* form css ends here */
