.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 6px;
background: #ffffff;
box-shadow:  25px 25px 50px #919191,
             -25px -25px 50px #ffffff;
  }
  