.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 6px;
  padding: 4vw;
  background: #ffffff;
  box-shadow: 10px 10px 25px #919191,
    -10px -10px 25px #666060;
}