.location {
    padding: 4px;
    background: whitesmoke;
    background-size: 400% 400%;
    color: #000000;
    font-size: 15px;
    width: 49vw;
    border-color: bisque;
    border-radius: 100;
    
}
