@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,300;1,400;1,500;1,700;1,900&family=Supermercado+One&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
}
.topnav{
    background-color: #000000;  
   
}
.balcony {
    margin-right: 5px;
    height: 30px;
}
.navbrand {
    font-family: 'Lexend Peta', sans-serif;
    font-size: 1.5em;
}

.navbar-dark .navbar-nav  .nav-link {
    font-family: 'Josefin Slab', serif;
    font-family: 'Lexend Peta', sans-serif;
    font-size: .9em;
    color: #ffffff;
    margin-right: 5px;
    border-bottom: 0px;
}
.navbar-dark .navbar-nav  .nav-link:hover {
    color: #F6F6F6;
    border-bottom: 1px solid #ffffff;
}
.navbtn {

    font-family: 'Josefin Slab', serif;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 1em;
    color: #ffffff;
    border-bottom: 0px;
}
.navbtn:hover {
    color: #F6F6F6;
    border-bottom: 1px solid #ffffff;
}

.active {
    background-color: #242323  ;
}